.img {
width:1600px;
height: 1600px;
}
.prpl{
background-color:#D3A0FA ;
border-radius: 15%;

}
.orange{
background-color:#FF9F00 ;
border-radius: 15%;
}
.dif=orange{
 background-color:#FE8159;
border-radius: 15%
}